<style type="text/css">
 /* === 各ラジオボタンのラベルをボタンに変更 == */
#sample1 label{
  display    : inline-block;
  border     : 1px solid #ccc;
  box-shadow : 2px 2px #999;
  padding    : 2px 6px;
}

/* === 選択されている言語のラベル色を変更 ==== */
#sample1 input[type="radio"]:checked + label {
  /* background : #ffa64d; */
  background:linear-gradient(transparent 70%, #ffa64d 0%)
}
</style>
